html {
  box-sizing: border-box;
  font-style: normal, "sans-serif";
}

body {
  overflow-x: hidden;
  background-color: transparent;
  transition: none !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  list-style-position: inside;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: transparent;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd,
hr {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}
